# STM32CubeIDE
/FIRMWARE/.metadata/
/FIRMWARE/.settings/
/FIRMWARE/[Rr]elease/
/FIRMWARE/[Dd]ebug/
/FIRMWARE/*.launch

# KiCad
/HARDWARE/*-backups/
/HARDWARE/*.kicad_prl
/HARDWARE/fp-info-cache
/HARDWARE/\#auto_saved_files\#

# Interactive HTML BOM
/HARDWARE/bom/

# Fabrication Toolkit
/HARDWARE/production/
